[General]
ConfigVersion=2
UpdateCheckMessageShown=true
RememberLastDatabases=true
NumberOfRememberedLastDatabases=5
OpenPreviousDatabasesOnStartup=true
LastOpenedDatabases="/Users/fred/Nextcloud/KeyPass/Database.kdbx"
LastActiveDatabase="/Users/fred/Nextcloud/KeyPass/Database.kdbx"

[PasswordGenerator]
AdditionalChars="-_="
AdvancedMode=true
ExcludedChars=
Length=128

